* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* fonts */

/* 
font-family: 'Great Vibes', cursive;
font-family: 'Italianno', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

:root {
  --ivory: hsl(60, 77%, 95%);
  --coffee: hsl(24, 34%, 33%);
  --dark : hsl(0, 0%, 7%);
}


body {
  font-family: 'Poppins', sans-serif;
}

.leftSpace {
  width: 25%;
  background-color: var(--dark);
}

.overheader {
  font-size: 4rem;
  color: var(--coffee);
  font-weight: 500;
  font-family: 'Italianno', cursive;
  margin-bottom: -2rem;
}

.section--header {
  font-size: 4rem;
  color: black;
  font-family: 'Great Vibes', cursive;
}


/* Navbar ------------------------------------------------- */

.navbar {
  position: fixed;
  width: 25%;
  height: 100vh;
  left: 0rem;
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
}

.navbar--logo {
  width: 12rem;
  height: 12rem;
  background-color: lightsteelblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  border-radius: 100%;
}

.navbar--logo--picture {
  width: 100%;
  height: 100%;
  
  border-radius: 100%;
}

.navList {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  list-style: none;
  gap: 1.7rem;
  width: 60%;
}

.navList li {
  width: 100%;
  font-size: 1.5rem;
  color: var(--ivory);
  position: relative;
}

.navList a {
  text-decoration: none;
  color: var(--ivory);
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.7rem;
  cursor: pointer;
}

.navList li:hover .navList--item--bar--shiny {
  width: 100%;
}

.navList li:hover .navList--item--arrow {
  opacity: 1;
  transform: translateX(2rem);
}

.navList--item--bar {
  position: relative;
  height: 1px;
  width: 100%;
  background-color: hsla(60, 77%, 95%, 0.3);
}

.navList--item--bar--shiny {
  position: absolute;
  height: 1px;
  width: 0%;
  background-color: var(--ivory);
  transition: 0.5s;
}

.navList--item--arrow {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  right: 2.5rem;
  opacity: 0;
  transition: 0.75s;
}

.arrow--tail {
  width: 1rem;
  height: 3px;
  background-color: var(--ivory);
}

.arrow--head {
  height: 0.75rem;
  width: 0.75rem;
  border-top : 3px solid var(--ivory);
  border-right: 3px solid var(--ivory);
  transform: rotateZ(45deg);
  margin-left: -0.7rem;
}

.navbar--socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}

.navbar--socials--social {
  font-size: 1.3rem;
  width: 2.7rem;
  height: 2.7rem;
  border: 2px solid var(--ivory);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--ivory);
}


/* Transition ------------------------------------------------- */

.transition {
  display: flex;
  flex-direction: row;
  height: 90vh;
}

.transition--content {
  position: relative;
  width: 75%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--ivory);
}

.transitionTwo--content {
  position: relative;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--ivory);
  background-repeat: no-repeat;
  background-size: 75%;
  background-attachment: fixed;
  background-position: right;
}



.transition--headers {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.transition--overheader {
  font-size: 4rem;
  color: var(--coffee);
  font-weight: 500;
  font-family: 'Italianno', cursive;
  margin-bottom: -2rem;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.transition--header {
  font-size: 5rem;
  color: white;
  font-family: 'Great Vibes', cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.transitionOne--picture01 {
  height: 100%;
  width: 32%;
  background-color: black;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 25%;
  background-size: 40%;
}

.transitionOne--picture02 {
  height: 100%;
  width: 32%;
  background-color: black;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 60%;
  background-size: 40%;
}

.transitionOne--picture03 {
  height: 100%;
  width: 32%;
  background-color: black;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: 40%;
}

/* Home ------------------------------------------------- */

.home {
  height: 100vh;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.home--content {
  position: relative;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(hsl(10, 60%, 20%), hsl(40, 60%, 10%));
  text-align: center;
  background-repeat: no-repeat;
  background-size: 75%;
  background-attachment: fixed;
  background-position: right;
}

.home--content--headers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home--header {
  font-family: 'Great Vibes', cursive;
  font-size: 9rem;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.home--subheader {
  font-size: 6rem;
  color: white;
  font-family: 'Italianno', cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.home--downArrow {
  height: 2rem;
  width: 2rem;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  transform: rotateZ(45deg);
  position: absolute;
  bottom: 3rem;
}



/* About us ------------------------------------------------- */

.about {
  display: flex;
  flex-direction: row;
  height: 70vh;
}

.about--content {
  display: flex;
  flex-direction: row;
  background-color: var(--ivory);
  width: 75%;
  padding: 1rem;
}

.about--content--text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding: 2.5rem;
}

.about--content--text--p {
  font-size: 1rem;
  color: black;
  margin-top: 1rem;
  line-height: 1.6;
}

.about--content--pictures {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.about--picture1 {
  background-color: lightblue;
  width: 45%;
  height: 80%;
  background-size: cover;
  border-radius: 0.5rem;
}

.about--picture2 {
  background-color: lightsalmon;
  width: 45%;
  height: 80%;
  background-size: cover;
  border-radius: 0.5rem;
}


/* Menu ------------------------------------------------- */

.menu {
  display: flex;
  flex-direction: row;
  height: 70vh;
}

.menu--content {
  display: flex;
  flex-direction: row;
  background-color: var(--ivory);
  width: 75%;
  padding: 1rem;
}

.menu--content--text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 2.5rem;
  text-align: right;
}

.menu--content--text--p {
  font-size: 1rem;
  color: black;
  margin-top: 1rem;
  line-height: 1.6;
}

.menu--content--pictures {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.menu--picture1 {
  background-color: lightblue;
  width: 45%;
  height: 80%;
  border-radius: 0.5rem;
  background-size: cover;
}

.menu--picture2 {
  background-color: lightsalmon;
  width: 45%;
  height: 80%;
  border-radius: 0.5rem;
  background-size: cover;
}

/* Shop ------------------------------------------------- */

.shop {
  display: flex;
  flex-direction: row;
  height: 90vh;
}

.shop--content{
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--ivory);
  padding: 2rem;

}

.products {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 65%;
  margin-top: 1.5rem;
  width: 100%;

}

.products:hover .product {
  opacity: 0.5;
}

.products:hover > .product:hover {
  opacity: 1;
  transform: scale(1.05);
  cursor: pointer;
}

.product {
  height: 100%;
  width: 30%;
  border: 2px solid black;
  position: relative;
  border-radius: 0.5rem;
  transition: 0.5s;
}

.product--picture {
  width: 100%;
  height: 100%;
  background-color: aquamarine;
  transform: translateX(0.5rem) translateY(0.5rem);
  background-size: cover;
  border-radius: 0.5rem;
}

.product--name {
  font-size: 1.2rem;
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  background-color: white;
  padding: 0.5rem 1rem;
  background-color: var(--coffee);
  color: white;
  border-radius: 0.3rem;
}


/* News ------------------------------------------------- */

.news {
  display: flex;
  flex-direction: row;
  height: 80vh;
}


.news--content {
  width: 75%;
  flex-direction: row;
  display: flex;
  background-color: var(--ivory);
  padding: 1rem;
}

.news--content--text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding: 2.5rem;
}

.news--content--text--p {
  text-align: left;
  font-size: 1rem;
  color: black;
  margin-top: 1rem;
  line-height: 1.6;
}

.news--content--exampleSide {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newsCard {
  border-radius: 0.5rem;
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 7px 3px hsla(0, 0%, 0%, 0.3);
}

.newsCard--header {
  width: 100%;
  height: 15%;
  background-color: black;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem 0.5rem 0 0 ;
}

.newsCard--picture {
  background-color: lightcoral;
  width: 100%;
  height: 85%;
  background-size: cover;
  border-radius: 0 0 0.5rem 0.5rem;
}

/* Testimonials ------------------------------------------------- */

.testimonials {
  height: 90vh;
  display: flex;
  flex-direction: row;
  
}

.testimonials--content {
  width: 75%;
  background-color: hsl(0, 0%, 20%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.review {
  margin-top: 3rem;
  text-align: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsla(0, 0%, 7%, 0.8);
  color: white;
  width: 60%;
  height: 55%;
  border-radius: 0.7rem;
  gap: 2.5rem;
}

.review--text {
  font-style: italic;
  line-height: 1.6;
  font-size: 1.2rem;
}

.review--author {
  font-weight: bold;
  color: white;
}



/* Contact ------------------------------------------------- */

.contact {
  display: flex;
  flex-direction:row;
  height: 90vh;
}

.contact--content {
  width: 75%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--ivory);
}

.info--side {
  padding: 2rem;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.map {
  width: 20rem;
  height: 20rem;
  background-color: lightblue;
  background-size: cover;
  box-shadow: 0px 0px 7px 3px hsla(0, 0%, 0%, 0.2);
}

.info--side--text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 1rem;
}

.info--title {
  color: black;
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 0.2rem;

}

.form--side {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact--form {
  height: 90%;
  width: 90%;
  background-color: hsl(0, 0%, 7%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  gap: 0.7rem;
}

.contact--form--logo {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  margin-bottom: 3rem;
}

.text--input {
  width: 70%;
  display: block;
  height: 2.5rem;
  padding: 0.2rem 0.5rem;
  outline: none;
}

.text--input:focus {
  box-shadow: 0px 0px 5px 2px hsl(0, 70%, 60%);
}

.submit--button {
  background-color: hsl(0, 70%, 55%);
  color: white;
  display: block;
  height: 2.5rem;
  width: 70%;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.submit--button:hover {
  background-color: hsl(0, 90%, 60%);
  border-radius: 0.5rem;
}


/* Footer -------------------------------------------------- */
.footer {
  display: flex;
  flex-direction: row;
  height: 10vh;
}

.footer--content {
  width: 75%;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer p {
  color: hsl(0, 0%, 60%);
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}
